.feature {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 25px 0 0;

	&::before {
		position: absolute;
		top: 175px;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		min-height: 828px;
		background-image: url(.././img/bg-feature-grey.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: -1;
	}
}

.feature__list {
	padding: 100px 25px 40px;
}

.feature__item {
	box-sizing: border-box;
	margin: 0 0 33px;
}

.fearure-slogan {
	font-family: $open-sans;
	color: $grey-main;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	padding: 15px;
	margin: 0;
}

.feature__item-title {
	font-family: $open-sans;
	color: $grey-main;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	margin: 0 0 10px;
}

.feature__item-text {
	font-family: $open-sans;
	color: $grey-main;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.feature-screen {
	width: 136px;
	height: 245px;
	background: url(.././img/hello-screen.png);
	background-repeat: no-repeat;
	background-size: auto auto;
	margin: 0 auto;
}

.feature-slider {
	margin: 0 0 20px;
}
