.header {
	background: $grey-main;
}

.header-link {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 1px 0px $black;
	box-sizing: border-box;
	padding: 20px;
}

.header-logo {
	width: 74px;
	height: 23px;

	&:hover path {
		fill: $pink;
	}

	&:active {
		opacity: 0.3;
	}
}

.header-toggle {
	position: relative;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;

	&::before {
		position: absolute;
		top: 11px;
		left: -5px;
		content: "";
		width: 30px;
		height: 2px;
		background-color: $white;
		transform: rotate(-45deg);
	}

	&::after {
		position: absolute;
		top: 11px;
		left: -5px;
		content: "";
		width: 30px;
		height: 2px;
		background-color: $white;
		transform: rotate(45deg);
	}
}

// // todo 768
// @media (min-width: 768px) {
// 	.header-nav {
// 		padding: 20px -20px;
// 	}
// }
