// Colors
$white: #ffffff;
$black: #000000;
// $green-85: rgba(104, 183, 56, 0.85);

// Fonts
$open-sans: ("Open Sans", "Arial", sans-serif);

// Mixins
// @mixin title-big {
//   font-family: $oswald;
//   font-style: normal;
//   font-weight: 400;
//   text-transform: uppercase;
// }
