// Colors
$white: #ffffff;
$black: #000000;
$grey-main: #283645;
$grey-dark: #1D2631;
$grey-15: rgba(255, 255, 255, 0.15);
$pink: #D22856;

// Fonts
$open-sans: ("Open Sans", "Arial", sans-serif);

// Mixins
// @mixin title-big {
//   font-family: $oswald;
//   font-style: normal;
//   font-weight: 400;
//   text-transform: uppercase;
// }
